*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    background-color: lightgrey;
    overflow-x: hidden;
    height: 100%;
}


.container{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.choose{
    border: 1px solid black;
    width: 20%;
    height: 100%;
}

/* Side menu */

.nav-top{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.chat-options{
    width: 100%;
    height: 89%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: justify;
}

.chat-option{
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.chat-option-photo{
    border: 1px solid black;
    height: 100%;
    width: 25%;
    float: left;
}

.chat-option-text{
    border: 1px solid black;
    height: 100%;
    width: 73.5%;
    float: left;
}

.chat-option-username{
    border: 1px solid black;
    width: 45%;
    height: 30%;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}

.username-option-text{
    font-size: 2.5vh;
}

.chat-option-lasttext{
    border: 1px solid black;
    width: 70%;
    height: 35%;
    margin-left: 10%;
}

.message-option-text{
    margin-top: 4%;
    font-size: 1.8vh;
}